@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

i.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

i#remove-watch.material-symbols-outlined { 
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}


.font-normalization {
  display: inline-flex;
  vertical-align: top;
}

.nav-padding {
  padding-left: 10px;
}

.home-container {
  display: flex;
}

.nav-container {
  width: 200px;
  margin-top: 80px;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.no-decoration {
  text-decoration: none;
}

.category-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 246px;
  height: 138px;
}

.video-card {
  width: 300px;
  height: 174px;
  margin-bottom: 10px;
}

.video-listing, .watchlater-listing {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-title {
  display: flex;
  width: 300px;
  gap: 10px;
}

.video-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("https://picsum.photos/40/40");
}

.video-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.videopage-info {
  display: flex;
  justify-content: space-between;
}

.video-icontitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.video-othericons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pointer {
    cursor: pointer;
}